---
import '../styles/home.css';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { LinkButton } from '@astrojs/starlight/components';
import Tabs from '@components/demos/tabs.astro';
import Accordion from '@components/demos/accordion.astro';
import ComponentDemoHero from '@components/component-demo-hero.astro';
import Dialog from '@components/demos/dialog.astro';
import { Image } from 'astro:assets';
import Mountains from './src/assets/mountains.jpg';
---

<StarlightPage frontmatter={{ 
	title: '', 
	template: 'splash',
	description: 'Headless component primitives for Alpine.js.',
	head: [
		{ tag: 'title', content: 'Carve UI' }
	]
}}>
	<div class="text-center pt-[175px] sm:pt-[250px] lg:pt-[350px]">
		<div class="absolute top-0 left-0 w-full h-[300px] sm:h-[400px] lg:h-[500px] overflow-hidden not-content z-[-1]">
			<div class="w-full h-[50%] absolute bottom-0 left-0 bg-gradient-to-t border-red-200" style="--tw-gradient-stops: var(--smooth-gradient-stops-white-transparent);"></div>
			<Image class="size-full object-cover object-[center_40%]" src={Mountains} alt="Snowy mountain peaks with clouds." />
		</div>
		<h1 class="!text-5xl md:!text-6xl mb-8">Carve Through Complexity</h1>
		<p class="text-lg mb-3 max-w-[60ch] mx-auto sl-markdown-content">
			Carve UI is a collection of rugged headless component primitives for
			<a href="https://alpinejs.dev/" target="_blank">Alpine.js</a>. They are built with a focus on accessibility, and developer experience.
		</p>
		<div class="inline-flex">
			<LinkButton icon="rocket" iconPlacement="start" href="/introduction">Getting started</LinkButton>
			<LinkButton href="/components" variant="secondary">View components</LinkButton>
		</div>
	</div>

	<div class="not-content pt-12 md:pt-20 mx-auto grid md:grid-cols-2 gap-12">
		<ComponentDemoHero title="Accordion" link="/components/accordion">
			<Accordion />
		</ComponentDemoHero>
		<ComponentDemoHero title="Tooltip" link="/components/tooltip">
			<div x-data="tooltip({ open: true })">
				<button x-ref="trigger" class="demo-button">Hover me</button>
				<div x-ref="content" x-cloak class="px-2 py-1 bg-white border border-zinc-300 rounded-lg shadow-lg shadow-black/5">
					This is a tooltip!
					<div x-ref="arrow" class="rounded-sm border"></div>
				</div>
			</div>
		</ComponentDemoHero>
		<ComponentDemoHero title="Dialog" link="/components/dialog">
			<Dialog />
		</ComponentDemoHero>
		<ComponentDemoHero title="Tabs" link="/components/tabs">
			<Tabs />
		</ComponentDemoHero>
	</div>

	<p class="text-center pt-10">
		And much more! Check out the <a href="/components">full list of components</a>.
	</p>
	
</StarlightPage>