---
import '../styles/home.css';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Aside, LinkButton } from '@astrojs/starlight/components';
// import Accordion from '@components/demos/accordion.astro';
---

<StarlightPage frontmatter={{ 
	title: '', 
	template: 'splash',
	description: 'Headless component primitives for Alpine.js.',
	head: [
		{ tag: 'title', content: 'Carve UI' }
	]
}}>
	<div class="text-center pt-12 md:pt-20">
		<h1 class="!text-5xl md:!text-6xl mb-8">Carve Through Complexity</h1>
		<p class="text-lg mb-3 max-w-[60ch] mx-auto sl-markdown-content">
			Carve UI is a collection of rugged headless component primitives for
			<a href="https://alpinejs.dev/" target="_blank">Alpine.js</a>. They are built with a focus on accessibility, and developer experience.
		</p>
		<div class="inline-flex">
			<LinkButton icon="rocket" iconPlacement="start" href="/introduction">Getting started</LinkButton>
			<LinkButton href="/components" variant="secondary">View components</LinkButton>
		</div>
	</div>

	<div class="not-content pt-12 md:pt-20 max-w-[600px] mx-auto">
		<Aside type="caution" title="Under Construction">
			Carve UI is currently in early development. Expect breaking changes in minor releases until 1.0 is ready! We're actively working on new components and features, so stay tuned!
		</Aside>
	</div>
	
</StarlightPage>