---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Carve UI — Testing</title>
		<style>
			[x-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="p-32 space-y-32">

            <div x-data="alertDialog">
                <button x-ref="trigger" class="demo-button">Open Alert Dialog</button>
                <template x-teleport="body">
                    <div x-ref="wrapper" x-bind="wrapperProps" class="fixed top-0 left-0 z-[99] flex items-center justify-center w-screen h-screen">
                        <div x-ref="backdrop" x-bind="backdropProps" class="absolute inset-0 size-full bg-black bg-opacity-50 backdrop-blur-sm"></div>
                        <div x-ref="content" x-bind="contentProps" class="bg-white relative w-full py-6 px-7 sm:max-w-lg rounded-lg mx-4">
                            <h2 x-ref="title" class="text-lg font-semibold pb-2">Alert Dialog Title</h2>
                            <p x-ref="description">
                                This is placeholder text. Replace it with your own content.
                            </p>
                            <div class="flex gap-3 justify-end pt-4">
                                <button class="demo-button" x-bind="closeProps">Cancel</button>
                                <button class="demo-button primary" @click="console.log('continued'); closeDialog();">Continue</button>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

            <div x-data="dialog">
                <button x-ref="trigger" class="demo-button">Open Dialog</button>
                <template x-teleport="body">
                    <div x-ref="wrapper" x-bind="wrapperProps" class="fixed top-0 left-0 z-[99] flex items-center justify-center w-screen h-screen">
                        <div x-ref="backdrop" x-bind="backdropProps" class="absolute inset-0 size-full bg-black bg-opacity-50 backdrop-blur-sm"></div>
                        <div x-ref="content" x-bind="contentProps" class="bg-white relative w-full py-6 px-7 sm:max-w-lg rounded-lg mx-4">
                            <h2 x-ref="title" class="text-lg font-semibold pb-2 me-8">Dialog Title</h2>
                            <button x-ref="close" x-bind="closeProps" class="absolute top-3 right-3 demo-button icon">
                                <span class="sr-only">Close dialog</span>
                                <svg aria-hidden="true" class="size-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>  
                            </button>
                            <p x-ref="description">
                                This is placeholder text. Replace it with your own content.
                            </p>
                            <div class="flex gap-3 justify-end pt-4">
                                <button class="demo-button primary" @click="console.log('continued'); closeDialog();">Continue</button>
                            </div>
                        </div>
                    </div>
                </template>
            </div>


            <div x-data="popover">
                <button x-ref="trigger" class="demo-button">Open popover</button>
                <div x-ref="content" x-cloak class="flex flex-col px-3 py-2 bg-white border border-zinc-300 rounded-lg shadow-lg shadow-black/5">
                    <p class="font-semibold mb-1">Edit dimensions</p>
                    <label for="width-input" class="text-sm">Width</label>
                    <input id="width-input" class="demo-input mb-2" type="text" value="100%">
                    <label for="height-input" class="text-sm">Height</label>
                    <input id="height-input" class="demo-input mb-2" type="text" value="250px">
                    <div x-ref="arrow" class="rounded-sm border"></div>
                </div>
            </div>

            
            <div x-data="tooltip">
                <button x-ref="trigger" class="demo-button">Hover me</button>
                <div x-ref="content" x-cloak class="px-2 py-1 bg-white border border-zinc-300 rounded-lg shadow-lg shadow-black/5">
                    This is a tooltip!
                    <div x-ref="arrow" class="rounded-sm border"></div>
                </div>
            </div>


            <div x-data="accordion" class="relative w-full mx-auto text-sm font-normal bg-white border border-gray-200 divide-y divide-gray-200 rounded-md">
                <div x-data="accordionItem({ initialOpen: true })" class="group">
                    <h2 class="text-base font-semibold">
                        <button x-ref="trigger" class="overflow-hidden rounded-md flex items-center bg-white justify-between w-full p-4 text-left select-none underline-offset-2 group-hover:underline">
                            <span>What is Carve?</span>
                            <svg aria-hidden="true" class="w-4 h-4 motion-safe:duration-200 ease-out" :class="{ 'rotate-180': isOpen }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </button>
                    </h2>
                    <div x-ref="content" x-cloak> 
                        <div class="p-4 pt-0 opacity-70">
                            Carve UI is a collection of rugged and accessible headless component primitives for Alpine.js.
                        </div>
                    </div>
                </div>
                <div x-data="accordionItem" class="group">
                    <h2 class="text-base font-semibold">
                        <button x-ref="trigger" class="overflow-hidden rounded-md flex items-center bg-white justify-between w-full p-4 text-left select-none underline-offset-2 group-hover:underline">
                            <span>How do I install Carve?</span>
                            <svg aria-hidden="true" class="w-4 h-4 motion-safe:duration-200 ease-out" :class="{ 'rotate-180': isOpen }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </button>
                    </h2>
                    <div x-ref="content" x-cloak>
                        <div class="p-4 pt-0 opacity-70">
                            Add AlpineJS and Carve UI and start using the pre built primitives.
                        </div>
                    </div>
                </div>
                <div x-data="accordionItem" class="group">
                    <h2 class="text-base font-semibold">
                        <button x-ref="trigger" class="overflow-hidden rounded-md flex items-center bg-white justify-between w-full p-4 text-left select-none underline-offset-2 group-hover:underline">
                            <span>Can i customize Carve?</span>
                            <svg aria-hidden="true" class="w-4 h-4 motion-safe:duration-200 ease-out" :class="{ 'rotate-180': isOpen }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </button>
                    </h2>
                    <div x-ref="content" x-cloak>
                        <div class="p-4 pt-0 opacity-70">
                            Yes! Carve is built to be customized and extended.
                        </div>
                    </div>
                </div>
            </div>


            <div x-data="tabs({ label: 'Manage your account' })" class="border border-zinc-200 rounded-lg max-w-[400px]">
                <div x-ref="list" class="flex border-b border-zinc-200">
                    <button x-data="tabTrigger('tab-1')" class="bg-white leading-none rounded-lg p-4 flex-1">Account</button>
                    <button x-data="tabTrigger('tab-2')" class="bg-white leading-none rounded-lg p-4 flex-1">Password</button>
                    <div x-ref="indicator" x-cloak class="size-[2px] bg-zinc-900 rounded-lg !top-auto -bottom-px motion-safe:transition-[transform,width,height]"></div>
                </div>
                <div class="p-4 flex flex-col" x-data="tabContent('tab-1')">
                    <p class="opacity-80 leading-normal mb-2">Make changes to your account here. Click save when you're done.</p>
                    <label for="name-input" class="text-sm">Name</label>
                    <input id="name-input" class="demo-input mb-2" type="text" value="Joost">
                    <label for="username-input" class="text-sm">Username</label>
                    <input id="username-input" class="demo-input mb-2" type="text" value="@jramke">
                    <div class="text-end mt-5">
                        <button class="demo-button primary">Save changes</button>
                    </div>
                </div>
                <div class="p-4 flex flex-col" x-data="tabContent('tab-2')" x-cloak>
                    <p class="opacity-80 leading-normal mb-2">Change your password here. After saving, you'll be logged out.</p>
                    <label for="curr-pw-input" class="text-sm">Current password</label>
                    <input id="curr-pw-input" class="demo-input mb-2" type="text" value="">
                    <label for="new-pw-input" class="text-sm">New password</label>
                    <input id="new-pw-input" class="demo-input mb-2" type="text" value="">
                    <div class="text-end mt-5">
                        <button class="demo-button primary">Change password</button>
                    </div>
                </div>
            </div>

            <div x-data="{fruits: [
                { value: 'apple', label: 'Apple' }, 
                { value: 'banana', label: 'Banana' }, 
                { value: 'blueberry', label: 'Blueberry' }, 
                { value: 'grapes', label: 'Grapes' }, 
                { value: 'kiwi', label: 'Kiwi' }, 
                { value: 'mango', label: 'Mango' }, 
                { value: 'orange', label: 'Orange' },
                { value: 'pineapple', label: 'Pineapple' }, 
                { value: 'strawberry', label: 'Strawberry' }, 
                { value: 'watermelon', label: 'Watermelon' }
            ]}">
                <div class="inline-flex flex-col gap-1 relative" x-data="select">
                    <span x-ref="label">Favorite fruit</span>
                    <button x-ref="trigger" class="rounded-md p-2 border border-zinc-200 w-[200px] flex items-center justify-between">
                        <span x-ref="selectValue">Select a fruit</span>
                        <svg aria-hidden="true" class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>
                    </button>
                    <div x-ref="content" x-cloak class="flex flex-col gap-1 rounded-md p-1 scroll-py-1 bg-white border border-zinc-200 shadow-lg shadow-black/5 !w-full max-h-[12.75rem] overflow-auto">
                        <template x-for="item in fruits" :key="item.value">
                            <div x-data="selectItem(item)" class="inline-flex justify-between items-center gap-2 rounded py-1 px-2 cursor-default data-[highlighted]:bg-zinc-200 data-[disabled]:opacity-50 data-[disabled]:cursor-not-allowed">
                                <span x-ref="selectItemLabel"></span>
                                <span aria-hidden="true" x-show="isSelected">
                                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>
                                </span>
                            </div>
                        </template>
                    </div>
                    <input type="hidden" x-model="value">
                </div>
            </div>

        </div>

	</body>
</html>
