<div x-data="tooltip">
    <button x-ref="trigger" class="demo-button">Hover me</button>
    <div x-ref="content" x-cloak class="px-2 py-1 bg-white border border-zinc-300 rounded-lg shadow-lg shadow-black/5">
        This is a tooltip!
        <div x-ref="arrow" class="rounded-sm border"></div>
    </div>
</div>