@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
    --sl-color-text: var(--sl-color-white);
    --sl-color-text-accent: var(--sl-color-accent-high);
    --ec-brdRad: 0.5rem;
    --sl-menu-button-size: 2.2rem;
}

[x-cloak] {
    display: none !important;
}

h1,h2,h3 {
    @apply tracking-tight
}

starlight-theme-select {
    display: none;
}

.header {
    background-color: var(--sl-color-black);
}

.site-title {
    @apply font-bold tracking-tight gap-3 text-2xl;
}
.site-title img {
    height: min(calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y)), 1.8rem);
}

starlight-menu-button button {
    @apply shadow-none;
    /* @apply ring-[1px] ring-zinc-300; */
}
starlight-menu-button button svg {
    --sl-icon-size: 1.2em !important;
}

.content-panel {
    border: none !important;
}
main .content-panel:first-child {
    padding-bottom: 0;
}

.sl-markdown-content a:not(:where(.not-content *)):not(.sl-link-button) {
    @apply underline-offset-2 transition-opacity hover:opacity-70 focus-visible:opacity-70;
}

.sl-link-button {
    @apply !rounded-lg !px-3 !py-[0.6rem] transition-all shadow-sm;
}
.sl-link-button svg {
    --sl-icon-size: 1.1em !important;
}
.sl-link-button.primary {
    @apply hover:bg-[var(--sl-color-gray-1)] focus-visible:bg-[var(--sl-color-gray-1)] hover:shadow-lg focus-visible:shadow-lg;
}
.sl-link-button.secondary {
    @apply hover:bg-[var(--sl-color-gray-7)] focus-visible:bg-[var(--sl-color-gray-7)];
}

code {
    @apply rounded-md;
}

.expressive-code .frame {
    --code-background: transparent !important;
    --ec-frm-trmTtbDotsFg: color-mix(in srgb, var(--sl-color-gray-4), transparent 25%);
    --ec-frm-trmTtbBg: var(--sl-color-gray-7);
}
.expressive-code .is-terminal .header {
    display: none;
}
.expressive-code .copy button {
    @apply !border-zinc-200 !rounded-md;
}

.starlight-aside {
    @apply rounded-md border-[1px] border-[var(--sl-color-asides-border)];
}