@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
    --sl-color-text: var(--sl-color-white);
    --sl-color-text-accent: var(--sl-color-accent-high);
    --ec-brdRad: 0.5rem;
    --sl-menu-button-size: 2.2rem;
    --sl-text-2xl: 1.5rem;
    --sl-text-3xl: 1.65rem;
    --sl-text-4xl: 2.15rem;
    --sl-text-5xl: 3rem;
}

:focus-visible {
    outline: var(--sl-color-accent-high) auto 2px;
    outline-offset: 4px;
}

[x-cloak] {
    display: none !important;
}

h1,h2,h3 {
    @apply tracking-tight
}

starlight-theme-select {
    display: none;
}

.header {
    background-color: var(--sl-color-black);
}

.site-title {
    @apply font-bold tracking-tight gap-3 text-2xl;
}
.site-title img {
    height: min(calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y)), 1.8rem);
}

starlight-menu-button button {
    @apply shadow-none;
    /* @apply ring-[1px] ring-zinc-300; */
}
starlight-menu-button button svg {
    --sl-icon-size: 1.2em !important;
}

.content-panel {
    border: none !important;
}
main .content-panel:first-child {
    padding-bottom: 0;
}

.sl-markdown-content a:not(:where(.not-content *)):not(.sl-link-button) {
    @apply underline-offset-2 transition-opacity hover:opacity-70 focus-visible:opacity-70;
}

button {
    @apply appearance-none cursor-pointer;
}

.demo-button {
    @apply inline-flex items-center gap-2 rounded-lg px-3 py-2.5 text-base leading-none transition-all shadow-sm border bg-white border-zinc-300 outline-none hover:bg-zinc-200 focus-visible:ring-offset-2 focus-visible:ring-2 focus-visible:ring-zinc-900;
}
.demo-button.primary {
    @apply text-white bg-zinc-900 border-zinc-900 hover:bg-zinc-700;
}
.demo-button.icon {
    @apply p-1.5 border-none;
}

.demo-input {
    @apply block w-full rounded-md px-2.5 py-2 text-base leading-none transition-all border bg-white border-zinc-300 outline-none focus-visible:ring-offset-2 focus-visible:ring-2 focus-visible:ring-zinc-900;
}

.sl-link-button {
    @apply !rounded-lg !px-3 !py-[0.6rem] transition-all shadow-sm;
}
.sl-link-button svg {
    --sl-icon-size: 1.1em !important;
}
.sl-link-button.primary {
    @apply hover:bg-[var(--sl-color-gray-1)] focus-visible:bg-[var(--sl-color-gray-1)] hover:shadow-lg focus-visible:shadow-lg;
}
.sl-link-button.secondary {
    @apply hover:bg-[var(--sl-color-gray-7)] focus-visible:bg-[var(--sl-color-gray-7)];
}

code {
    @apply rounded-md;
}

.expressive-code .frame {
    --code-background: transparent !important;
    --ec-frm-trmTtbDotsFg: color-mix(in srgb, var(--sl-color-gray-4), transparent 25%);
    --ec-frm-trmTtbBg: var(--sl-color-gray-7);
}
.expressive-code .is-terminal .header {
    display: none;
}
.expressive-code .copy button {
    @apply !border-zinc-200 !rounded-md !bg-white !opacity-100;
}

.starlight-aside {
    @apply rounded-md border-[1px] border-[var(--sl-color-asides-border)];
}